@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body
{
  margin: 0 auto;
}
.Char_container
{
  border: black solid 2px;
  border-radius: 10px;
  height:40rem;
  width: 60rem;
  margin-top: 2rem;
  margin-left: 20rem;
  overflow: hidden;
  position: absolute;
}
.Char_container img
{ 
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  filter: opacity(96%);
  object-fit: cover;

  position: absolute;
 
}
.inside_container
{

  height: 95%;
  width:97%;
  border: white solid 1.5px; 
  border-radius: 10px; 
  color: white;
  position: absolute;
  margin: 15px 15px;
  overflow: hidden;
}
.header p
{
  font-family: "Lavishly Yours", serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 3rem;  
  padding:0 5rem;
  display: flex;
  justify-content: center;
}
.header hr
{
  width: 38%;
}
span {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.Content input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #cccc;
  outline: none;
  color: white;
  width: 7rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
}
.Content p
{
 
  font-weight: 400;
  font-size: 24px;
  justify-content: space-evenly;
  padding: 10px 10px;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
}
.reg-num span
{
  position: absolute;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
  justify-content: space-evenly;
  padding: 10px 10px;
}
.reg-num span:nth-child(2) {
  display: block; 
  margin-top: 40px;
}
.reg-num input 
{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
